<header [ngClass]="{ 'lighter-mode': !globalService.darkMode }">
    <a [routerLink]="['/']">
        <picture *ngIf="!globalService.darkMode">
            <source type="image/webp" srcset="../../../assets/images/logo.webp">
            <img src="../../../assets/images/logo.png" class="logo" alt="GitHub" />
        </picture>

        <picture *ngIf="globalService.darkMode">
            <source type="image/webp" srcset="../../../assets/images/logo-white.webp">
            <img src="../../../assets/images/logo-white.png" class="logo" alt="GitHub" />
        </picture>
    </a>

    <div class="wrap-actions">
        <div class="search">
            <input name="search" [(ngModel)]="searchService.query" (keyup.enter)="callSearch()" [placeholder]="placeholder" />
            <mat-icon (click)="callSearch()">search</mat-icon>
        </div>

        <mat-slide-toggle [checked]="globalService.darkMode" (change)="onChangeDarkMode()">
            Dark mode
        </mat-slide-toggle>

        <div class="translate-box">
            <span class="translate-item" [ngClass]="{ 'active': langIsActive('en-US') }" (click)="setLanguage('en-US')" title="Inglês">
                EN
            </span>
            <span class="translate-item" [ngClass]="{ 'active': langIsActive('pt-BR') }" (click)="setLanguage('pt-BR')" title="Português">
                PT
            </span>
        </div>
    </div>   
</header>