@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/montserrat/Montserrat-Regular.eot"); /* IE9 Compat Modes */
    src: url("../assets/fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../assets/fonts/montserrat/Montserrat-Regular.otf") format("opentype"), /* Open Type Font */
      url("../assets/fonts/montserrat/Montserrat-Regular.svg") format("svg"), /* Legacy iOS */
      url("../assets/fonts/montserrat/Montserrat-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../assets/fonts/montserrat/Montserrat-Regular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../assets/fonts/montserrat/Montserrat-Bold.eot"); /* IE9 Compat Modes */
    src: url("../assets/fonts/montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../assets/fonts/montserrat/Montserrat-Bold.otf") format("opentype"), /* Open Type Font */
      url("../assets/fonts/montserrat/Montserrat-Bold.svg") format("svg"), /* Legacy iOS */
      url("../assets/fonts/montserrat/Montserrat-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
      url("../assets/fonts/montserrat/Montserrat-Bold.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$font-montserrat: 'Montserrat', sans-serif;
$font-montserrat-bold: 'Montserrat-Bold', sans-serif;

.fontmontserrat {
    font-family: $font-montserrat;
}

$font-weight-extra-light: 300;
$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-semi-bold: 700;
$font-weight-bold: 700;